@use "utility/mixin";

// Reset & Base
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #121212;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

li {
  list-style: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

// common
.inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 20px;
}

.section-title {
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 60px;

    &::before,
    &::after {
      content: "";
      width: 28%;
      height: 1px;
      background: currentColor; // 他の要素で指定されたcolorの色の指定に従う
    }
  }

  &--white {
    color: #fff;
  }

  &--black {
    color: #121212;
  }
}

.description {
  font-size: 16px;
  margin: 60px 0 64px 0;
}

// Background video
.video {
  height: 100vh;

  &__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 300px;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

// Header
.header {
  position: fixed;
  z-index: 10;
  width: 300px;
  height: 100vh;

  &__inner {
    padding: 40px 55px 38px 45px;
  }

  &__logo {
    width: 200px;
  }

  &__logo img {
    width: 100%;
  }

  &__sns-list {
    margin-top: 76px;
  }

  &__sns-item {
    margin: 16px 0;
  }
}

.nav {
  &__list {
    margin-top: 38px;
  }

  &__item {
    margin: 16px 0;
  }
}

// ハンバーガーメニュー
.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  z-index: 2000;

  span {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background: #121212;
    transition: 0.5s ease;

    //Modifierにできるのでは？
    &:nth-child(1) {
      top: 4px;
    }

    &:nth-child(2) {
      top: 14px;
    }

    &:nth-child(3) {
      bottom: 4px;
    }
  }

  &.active {
    span {
      background: #fff;

      // ✖変形
      &:nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
      }
    }
  }
}

// オーバーレイ
.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.8);

  opacity: 0;
  pointer-events: none;

  transition: 0.3s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}

// main
.main {
  margin-left: 300px;
}

// works
.works {
  // グラデーションを作るCSS関数
  background: linear-gradient(
    to top,
    rgba(18, 18, 18, 0.8) 0%,
    rgba(18, 18, 18, 0) 100%
  );
  color: #fff;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;
  }

  &__img {
    width: 100%;
    height: auto;
    position: relative;
    border: #fff 1px solid;
  }

  &__img img {
    width: 100%;
    height: 100%;
  }

  &__img::after {
    content: "";
    position: absolute;
    inset: 0;
    // 内側に影を作る
    box-shadow: inset 0 -30px 15px -1px rgba(18, 18, 18);
    z-index: 1;
  }

  &__label {
    position: absolute;
    left: 7px;
    bottom: 4px;
    z-index: 2;
    color: #fff;
    font-size: 0.75rem;
  }
}

// feature
.feature {
  background-color: rgba(18, 18, 18, 0.8);
  padding-bottom: 80px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    color: #fff;
    text-align: center;
    width: 30%;
  }

  &__item a {
    width: 100%;
    padding: calc(50% - 11px) 0;
    border-radius: 50%;
    border: #fff 1px solid;
    @include mixin.flex-center;

    position: relative; // 疑似要素の基準
    overflow: hidden;

    span {
      position: relative; // z-index用
      z-index: 1; // 背景より前に表示
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);

      transform: scaleX(0); // 横幅0
      transform-origin: left; // 左から伸びる
      transition: transform 0.5s ease;
    }

    &:hover::before {
      transform: scaleX(1); // 横幅100%
    }
  }

  &__item h3 {
    margin-top: 15px;
  }

  &__item p {
    margin-top: 5px;
  }
}

.flow {
  background-color: #fff;
  counter-reset: step; // stepという名前のカウンターを作り0にリセットする
  padding-top: 40px;

  &__step {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 41px;
  }

  // 左側
  &__list {
    position: relative;
    display: inline-block;
  }

  &__list::before {
    // 黄色い線を描く
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 50px;
    height: 600px;
    background: #ffdd00;
    z-index: 0;
  }

  &__item {
    position: relative;
    @include mixin.flex-center;
    width: 200px;
    height: 80px;
    margin-bottom: 60px;
    counter-increment: step; // 各liが現れるたびにstep += 1する
    background-color: #414141;
    color: #fff;
    z-index: 1; // 黄色い線より前に出す
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item::before {
    content: counter(step) "."; // stepに格納されている値を取り出す
  }

  &__item::after {
    content: "";
    position: absolute;
    left: 50%; // 親要素の半分の位置に持っていく
    transform: translateX(-50%); // leftでズレた分戻す
    bottom: -30px; // 三角をはみ出させる

    // 点を描く
    width: 0px;
    height: 0px;

    // borderで三角を描く
    // border同士の境界は45°の斜めになるように描画するというブラウザの特性を利用する
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 30px solid #414141;
  }

  // 右側
  &__content {
    display: flex;
    gap: 10px;
  }

  // 5番目のflow__contentの中のflow__textを指定したい
  &__content:last-child {
    .flow__text {
      margin-bottom: 0;
    }
  }

  &__number {
    flex-shrink: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    @include mixin.flex-center;
    background-color: #414141;
    color: #fff;
    font-size: 1rem;
  }

  &__title {
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
    font-size: 1.25rem;
  }

  &__text {
    margin: 10px 0;
    margin-bottom: 43px;
    font-size: 1rem;
  }
}

.information {
  background-color: #fff;
  padding-bottom: 80px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
  }

  &__item {
    position: relative;
    width: 30%;
    padding: 50px 0;
    border: #121212 1px solid;
    @include mixin.flex-center;
    flex-direction: column;
  }

  &__item img {
    margin-bottom: 5px;
  }

  &__item:hover {
    outline: 3px solid #121212; // 要素のサイズを変えずに線をつける
  }

  &__item::before {
    position: absolute;
    content: "";
    right: 4px;
    bottom: 4px;
    border-right: 20px solid #121212;
    border-top: 20px solid transparent;
  }
}

.footer {
  background-color: #121212;
  color: #fff;

  &__copy {
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 20px;
  }
}

.menu {
  &__list {
    @include mixin.flex-center;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  &__item {
    border-right: #fff 1px solid;
    padding: 0 20px;
  }

  &__item:last-child {
    border-right: none;
  }
}

.to-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #121212;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  z-index: 100;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 960px) {
  .inner {
    padding: 60px 20px;
  }

  .description {
    font-size: 16px;
    margin: 30px 0;
  }

  .header {
    width: 100%;
    height: 72px;
    background-color: #fff;
    border: none;

    &__inner {
      padding: 0;
    }

    &__logo {
      width: 180px;
      margin-left: 18px;
      margin-top: 9px;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 21px;
      right: 18px;
    }

    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0 25px;

      width: 300px;
      background: #fff;

      opacity: 0;
      transform: translateX(-100%);
      pointer-events: none;
      transition: 0.5s ease;
      z-index: 1000;

      &.open {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
      }
    }

    &__sns-list {
      margin-top: 50px;
    }

    &__sns-item {
      margin: 20px 0;
    }
  }

  .section-title {
    &__heading {
      font-size: 1.25rem;
      margin-bottom: 30px;

      &::before,
      &::after {
        width: 18%;
      }
    }
  }

  .nav {
    &__item {
      margin: 20px 0;
    }
  }

  .video {
    &__bg {
      left: 0;
      height: 80vh;
    }
  }
  .main {
    margin-left: 0;
  }

  .works {
    &__list {
      grid-template-columns: 1fr;
    }
  }

  .flow {
    padding-top: 0;

    &__step {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    &__list {
      margin-bottom: 80px;
    }

    &__item {
      width: calc(100vw - 80px);

      &::after {
        border-left: calc(50vw - 40px) solid transparent;
        border-right: calc(50vw - 40px) solid transparent;
      }
    }
  }

  .information {
    padding-bottom: 60px;
    &__list {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      gap: 20px;
    }

    &__item {
      width: 60%;
    }
  }

  .menu {
    &__list {
      flex-wrap: wrap;
    }
  }
}
